<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>className</key>
		<string>LHGSMainVC</string>
		<key>itemName</key>
		<string>首页</string>
		<key>itemImgNormal</key>
		<string>toolbar_icon_wode_dis</string>
		<key>itemImgSelect</key>
		<string>toolbar_icon_wode_pre</string>
	</dict>
	<dict>
		<key>className</key>
		<string>LHMayVC</string>
		<key>itemName</key>
		<string>我的</string>
		<key>itemImgNormal</key>
		<string>toolbar_icon_xihu-dis</string>
		<key>itemImgSelect</key>
		<string>toolbar_icon_xih_pre</string>
	</dict>
</array>
</plist>
